#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 600px;
  height: 600px;
  background-color: #769656;
}

.black-tile {
  background-color: #769656;
}
.white-tile {
  background-color: #eeeed2;
}
.tile {
  display: flex;
  justify-content: center;
  /* margin:auto; */
}

.piece { 
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  background-position: center;
  background-size: 100%;
}